name: Changes
on:
  workflow_call:
    outputs:
      api:
        value: ${{ jobs.changes.outputs.api }}
      client:
        value: ${{ jobs.changes.outputs.client }}

jobs:
  changes:
    name: filter
    runs-on: ubuntu-latest
    outputs:
      api: ${{ steps.filter.outputs.api }}
      client: ${{ steps.filter.outputs.client }}
    steps:
      - uses: actions/checkout@v3
      
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          initial-fetch-depth: 2
          filters: |
            api:
              - 'api/**'
            client:
              - 'client/**'