name: Main
on:
  push:
    branches:
      - main

jobs:
  changes:
    uses: ./.github/workflows/changes.yaml

  build:
    if: ${{ needs.changes.outputs.api == 'true' || needs.changes.outputs.client == 'true' }}
    name: build
    needs:
      - changes
    uses: ./.github/workflows/build.yaml
    with:
      environment_name: test
      version_number: ${{ github.run_id }}
    secrets: inherit

  deploy:
    name: deploy
    needs: 
      - changes
      - build
    uses: ./.github/workflows/deploy.yaml
    with:
      app_name: flying
      environment_name: test
      version_number: ${{ github.run_id }}
    secrets: inherit
