name: Pull Request

on:
  pull_request:

jobs:
  changes:
    uses: ./.github/workflows/changes.yaml

  build:
    if: ${{ needs.changes.outputs.app == 'true' || needs.changes.outputs.client == 'true'}}
    name: build
    needs:
      - changes
    uses: ./.github/workflows/build.yaml
    with:
      environment_name: pull_request
      version_number: ${{ github.run_id }}
    secrets: inherit
