name: Tag
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  build:
    name: build
    uses: ./.github/workflows/build.yaml
    with:
      environment_name: prod
      version_number: ${{ github.ref_name }}
    secrets: inherit

  deploy:
    name: deploy
    needs: 
      - build
    uses: ./.github/workflows/deploy.yaml
    with:
      app_name: flying
      environment_name: prod
      version_number: ${{ github.ref_name }}
    secrets: inherit
